#content
    margin: 200px
    margin-top: 20px
    margin-bottom: 40px
    // background: gray
    width: auto
    height: 100vh

#content img
    float: left
    border: 2px solid black
    width: 40%
    height: '260px'
    objectfit: 'cover'

#info-Menu
    width: 20%
    h5
        margin-left: 2px
    p
        margin-left: 12px
        .negro
            color: #7E7E7E
    button
        background: none
        height: 40px
        color: inherit
        border: none
        padding: 0
        font: inherit
        cursor: pointer
        outline: inherit
        i
            font-size: 24px
#contenido
    hr
        margin: 15px
#position
    width: 410px
    margin-left: 10px
    margin-bottom: 10px
    border-radius: 0.25rem
    padding: 10px
    background-color: rgba(0,0,0,.15)
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%)
    p
        margin: auto
        display: inline-block
.MoreJA
    width: 250px
    margin: auto
    font-size: 14px
    p
        margin: auto
