
.imagen
    opacity: 1
    display: block
    width: 100%
    height: auto
    transition: .5s ease
    backface-visibility: hidden

.imagen:hover
    opacity: 0.15
    border-radius: 15px
.card
    a:hover
        background: #442e2e
        transition: .5s
        border-radius: 15px

.text
    color: white
    font-size: 20px
    position: absolute
    font-size: 30px
    bottom: 100px
    text-align: center

.container
    position: relative
    width: 100%

.image
    display: block
    width: 100%
    height: auto

.overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%
    width: 100%
    opacity: 0
    transition: .5s ease
    background-color: #008CBA

.container:hover .overlay
    opacity: 1
