#btn-borrar
    text-decoration: none
    border: none
#profileContent
    width: auto
    height: 100vh

    #profileTop
        display: flex
        justify-content: center
        align-items: center
        gap: 100px
        height: 350px
        background-color: #d6cdc1

        #userAvatar
            border-radius: 50%

    #profileBottom
        display: flex
        padding: 30px
        gap: 40px
        #userData
            width: 30%
            #EditUserInfo
                display: flex
            #editbtn
                float: right
                button
                    background: none
                    color: inherit
                    border: none
                    padding: 0
                    font: inherit
                    cursor: pointer
                    outline: inherit
            h5
                margin-top: 30px

        #userAnime
            width: 70%

            #addbtn
                float: right

            #FavAnimesDiv
                width: 100%
                overflow: scroll
                height: 360px
                #FavAnimesTable
                    width: 100%

                    thead
                        tr
                            th
                                text-align: center
                    tbody
                        tr
                            text-align: center
