#username
    background-color: #efefef

#Information
    display: flex
    flex-direction: row
    padding: 5px
    padding-left: 10px

    #userInfo
        width: auto

    #userStats
        width: auto
        margin-left: 40px

        #FavAnimes
            width: 100%
            height: auto
            overflow: scroll
            height: 500px

            #FavAnimesTable
                width: 100%
                thead
                    tr
                        th
                            text-align: center
                tbody
                    tr
                        text-align: center
